/* Estilos generales */
body {
  background-image: url(imgs/fondo_pag.png);
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
  body {
    background-image: url(imgs/fondo_pag.png) !important;
    background-size: auto;
    background-repeat: no-repeat;
    padding: 20px;
  }
}

/* ENCABEZADO */
header {
  background-color: #000000;
  position: sticky;
  width: 100%;
  top: 0%;
  
}

/* AJUSTES BARRA DE NAVEGACIÓN */
.navbar {
  background-color: #000000;
  background-size: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;

}

.navbar-brand img { /* AJUSTES LOGO*/
  max-height: 50px;
  width: auto;
}
.navbar-collapse {
  display: flex;
  justify-content: center; 
}

.navbar-nav .nav-item {
  display: inline-block; /* Alinea el menú */
  margin-right: 10px;
}

.opcionesMENU  {
  letter-spacing: 0;
  color: #fff;
  border: none;
  padding: 5px 10px;
}

.opcionesMENU :hover,
.opcionesMENU :active {
  letter-spacing: 2px;
}

.opcionesMENU :after,
.opcionesMENU :before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: none; /* Quita el borde */
  bottom: 2px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.opcionesMENU :hover:after,
.opcionesMENU :hover:before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.opcionesMENU :hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}


main {
  padding-top: 10px;
  padding: 2%;

}

/* TITULO  PRINCIPAL */
.titulo {
  text-align: center; 
  padding-bottom: 30%;
  padding-top: 1%;
}

.titulo h2 {
  font-size: 7em;
  padding-top: 9%;
  margin-bottom: 0;
}

/* BOTON DOWNLOAD */
.botonDOWNLOAD {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  margin: 0 auto 2em;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}

.botonDOWNLOAD {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(133, 158, 241, 0.945);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
}

.botonDOWNLOAD:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 2px #427388;
}


/* RECUADRO CON FONDO BLANCO */
.section-container {
  position: relative; 
  background-color: white; 
  border-radius: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  padding: 0.5px;
  z-index: -1; 
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

/* SEGUNDO TITULO (IMAGENES) */
h2 {
  text-align: center;
  color: aliceblue;
}

/* AJUSTE PARA CONTENEDORES IMG */
.imagenes-section {
  background-color: #f0f0f0;
  padding: 20px 0;
}

.imagenes-container {
  max-width: 1200px; /* Ancho máximo para el contenedor de imágenes */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  display: flex; /* Utiliza flexbox para alinear las imágenes */
  justify-content: space-around; /* Espaciado uniforme entre las imágenes */
}

.imagen-container {
  flex: 1; /* Ocupa todo el espacio disponible */
  margin: 0 10px; /* Agrega espacio entre las imágenes */
  justify-items: center;
}




/* PIE DE PAG */
footer {
  background-color: #000000;
  color: #ffffff; /* Cambia el color del texto a blanco */
  padding: 20px; /* Añade un espacio alrededor del contenido del footer */
  text-align: center;
}


